<div class=" mb-4 rounded-3 row row-cols-1  mb-3 " id="<%= dom_id artical %>">
  <p>
    <strong>Title:</strong>
    <%= artical.title%>
  </p>

  <p>
    <strong>Text:</strong>
    <%= artical.text %>
  </p>

</div>