<p style="color: green"><%= notice %></p>

<h1>Articals</h1>

<div id="articals">
  <% @articals.each do |artical| %>
    <% cache artical do %>
      <%= render artical %>
      <p>
        <%= link_to "Show this artical", artical %>
      </p>
    <% end %>

  <% end %>


</div>
